target/
design/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.log
*.xml
hs_err_pid*
replay_pid*